{% extends "blist.html" %} {% block titulo %} Mi busqueda {% endblock %}
{% block h2 %} Mi busqueda {% endblock %}
{% block enlace %}
<td>
    <a href="/offer/buy/{{ oferta._id.toString() }}">comprar</a>
</td>
{% endblock %}
{% block paginacion %}
<div class="row text-center">
    <ul class="pagination">
        {% for pagina in paginas %}
        <li class="page-item" id="pi - {{ pagina }}">
            <a class="page-link" href="/tienda?pg={{pagina}}">{{pagina}}</a>
        </li>
        {% endfor %}
        <script>
            $("#pi-" + "{{actual}}").addClass("active");
        </script>
    </ul>
</div>
{% endblock %}
